/* Specific styles for the settings pages (profile, user account, privacy, services) */
#inner_account_delete {
	width: 700px;
}

.as-selections #tags {
	box-shadow: none;
}

.enclosed-checkbox label {
	margin-bottom: 0;
}

#profile_photo_upload {
  text-align: center;

  .avatar {
    height: auto;
    width: auto;
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.settings_visibility { margin-left: 10px; }

#profile_bio {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.settings_container {
  background: #f0f0f0;
  margin: 0 -15px;
  padding: 20px;
  h3 {
    font-size: 18pt;
    font-weight: 700;
    &:first-child {
      margin-top: 0;
    }
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

#settings_nav {
  margin: -15px !important;
}