.leftNavBarOffset { /* This class is actually applied to the Main Stream */
  margin-left: 19% !important;  
}

#leftNavBar {

  width: 19%; /* Main Stream has margin left: 19% */
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 40px;
  background: #222222;
  height: 100%;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  color: #eee;

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  a {
    color: $link-grey;
    text-decoration: none;
  }

  .selected { margin-right: 10px; }

  .hoverable {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    &:hover { background-color: $background-blue; }

    .label {
      background-color: $background-grey;
      color: $text-grey;
    }
  }

  .selectable {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ddd;
  }

  .action {
    width: 12px;
    height: 12px;
    display: none;
    float: right;
    margin: 3px;
    color: #ddd;
  }

  .hoverable:hover  > .action {
    display: block;
  }

}
