body {
  font-family: "Montserrat";
}

// Font-face definitions for Montserrat font across all Progow app
// weights are adapted to override browser defaults
// refer to: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-ultralight-webfont.eot');
    src: url('fonts/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-ultralight-webfont.woff') format('woff'),
         url('fonts/montserrat-ultralight-webfont.ttf') format('truetype'),
         url('fonts/montserrat-ultralight-webfont.svg#Montserrat') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('fonts/montserrat-light-webfont.svg#Montserrat') format('svg');
    font-weight: 400; // this will be the default for "normal" weight
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#Montserrat') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-bold-webfont.eot');
    src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-bold-webfont.svg#Montserrat') format('svg');
    font-weight: 700; // this will be the default when weight is "bold"
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat-extrabold-webfont.eot');
    src: url('fonts/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extrabold-webfont.woff') format('woff'),
         url('fonts/montserrat-extrabold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-extrabold-webfont.svg#Montserrat') format('svg');
    font-weight: 800;
    font-style: normal;
}

#left-navbar-fixed-sub-background {
  background: rgba(0,0,0,.8);
  position: fixed;
  height: 100%;
}

#left-navbar-fixed-background {
  background: rgba(0,0,0,.8);
  position: fixed;
  height: 100%;
}

#leftNavBar {
  background: none;
}

h3.stream_title {
  font-weight: 700;
  margin-top: 0;
}

.comment_stream .comments > .comment .avatar {
    height: 35px;
    width: 35px;
    margin-top: 5px;
}

#leftNavBar #aspects_list, #leftNavBar #tags_list {
    background: rgba(40,40,40,.9);
}

#leftNavBar .hoverable a, #leftNavBar .all_aspects a.hoverable, #leftNavBar .followed_tags_sidebar a.hoverable {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(128,128,128,.3);
}

.stream_container {
  background: rgba(255,255,255,.8);
  padding: 20px;
  margin: 0px -15px;
}

.popover-title {
  margin: 0;
  padding: 10px !important;
  font-size: 15px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  background-color: #222;
  color: white;
  font-weight: 400 !important;
  font-family: "Montserrat";
  border: none;
  padding: 10px;
}

.popover {
  padding: 0 !important;
  box-shadow: 0 0 20px #888;
}

header > .dark-header > nav .navbar-brand {
  color: #ddd;
  font-weight: 700;
  font-family: Montserrat;
  border-left: 1px solid rgba(128,128,128,.3);
}

#left-navbar-fixed-background {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
  position: fixed;
  height: 100%;
  border-left: 1px solid rgba(128, 128, 128, 0.21);
}

#right-sidebar-fixed-sub-background {
  height: 100%;
  position: fixed;
  right: 0px;
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
}

#right-sidebar-fixed-background {
  background: none;
}

.rightBar {
  background: none;
  opacity: .7;
  transition: opacity .5s;
  &:hover {
    opacity: 1;
    transition: opacity .5s;
  }
}

.rightBar .section > .title {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}