.stream_container {
	padding-left: 10px;
	padding-top: 20px;
  #publisher {
    margin-bottom: 30px;
  }
  .well#ignore-info { text-align: center; }
  .stream_title {
  	font-weight: 200;
  	font-size: 27px;
  	margin-top: 0px;
  }
}
